input{
    background-color: var(--color-background);
    border: solid 2px;
    border-color: var(--color-border);
    margin-bottom: 1rem;
    height: 5vh;
    border-radius: 0.8rem;
    padding: 20px;
    outline: none;
    color: var(--color-border);
}

input::placeholder {
    color: var(--color-border);
    font-size: 1.5rem;
}