button {
    background-color: var(--color-border);
    border: none;
    border-radius: 0.4rem;
    width: 4vw;
    min-width: 40px;
    height: 2vh;
    cursor: pointer;
    margin-left: 5px;
}

button:hover {
    background-color: #3D6B70;
}