#profile-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#profile-item {
    border-radius: 0.8rem;
    min-height: 520px;
    margin-bottom: 15px;
    padding: 1%;
    width: 40vw;
    background-color: #F0F3F4;
}