/* #meeting-page {
    width: 100vw;
    height: 100vh;
    
}
#meeting-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#workstation-item {
    border-radius: 0.8rem;
    margin-bottom: 15px;
    padding: 1%;
    width: 40vw;
    background-color: #F0F3F4;
}
.button3 a {
    width: 4vw;
    height: 3vh;
    border-radius: 0.8rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--color-border);
    font: 500 1.4rem Poppins;
    transition: background-color 0.2s;
    margin-bottom: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.button3 a:hover {
    background-color: #3D6B70;
}

form  {
    margin-bottom: 20px;
} */
