button#create {
    background-color: var(--color-border);
    border: none;
    border-radius: 0.4rem;
    width: 5vw;
    height: 3vh;
    min-width: 50px;
    cursor: pointer;
    margin-left: 5px;
    font-size: 1.6rem;
}

button#create:hover {
    background-color: #3D6B70;
}