:root {
    font-size: 60%;
    --color-background:#102326;
    --color-border: #227D9B;
    --color-button: #EF8600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #root {
    height: 100vh;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input button, textarea {
    font: 500 1.6rem Poppins;
}
.container {
    width: 90vw;

}
@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}
.page {
    width: 100vw;
    height: 100vh;
}

.blue-page {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-blue {
    border-radius: 0.8rem;
    height: 5vh;
    width: 30vw;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--color-border);
    font: 500 1.7rem Poppins;
    transition: background-color 0.2s;
    margin-bottom: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.button-blue:hover {
    background-color: #3D6B70;
}