:root {
    font-size: 60%;

    --color-background:#102326;
    --color-border: #227D9B;
    --color-button: #EF8600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #root {
    height: 100vh;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input button, textarea {
    font: 500 1.6rem Poppins;
}
.container {
    width: 90vw;

}
@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}